
.navbar-foot {
    background-color: transparent;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }
  

  .navbar-foot a {
    font-size: larger;
    font: optional;
    text-align: center;
    text-decoration: underline;
    color: #1a1818; 
    margin: 0 10px; 
  }
  
  