
.success {
    width: 600px; /* Adjust the width and height as needed */
    height: 600;
    border-radius: 50%; /* Make the image round */
    overflow: hidden; /* Hide overflow content (in case the image is larger) */
    margin: 0 auto; /* Center the image horizontally */

  }
  
  /* Styling for the profile picture image */
  .success img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
  }
  .landing-container{
    display: flex;
    padding: 10%;
    padding-top: 20%;
  }

  .message {
    padding-top:12% ;    
    padding-left: 6%;
    font-size: xx-large;
  }
  .message p{
    display: inline;
  }