/* Arrows.css */
.arrows-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Adjust the space between arrows */
    z-index: 1000; /* Ensure it's above other elements */
}

.arrows-container .fa-arrow-circle-up,
.arrows-container .fa-arrow-circle-down {
    cursor: pointer;
}

.arrows-container .fa-arrow-circle-up:hover,
.arrows-container .fa-arrow-circle-down:hover {
    opacity: 0.8;
}
