/* Portfolio.css */

body, h1, h2, p {
    margin: 0;
    padding: 0;
  }
 
  .portfolio {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  
  .banner {
   background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%); 
    color: #fff;
    padding: 40px;
  }
  
  .banner h1 {
    font-size: 36px;
  }
  
  .banner p {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .social-links{
    color: white;
  text-decoration: none;
  }
  