/* Contact.css */

.contact-container {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 28px; /* Smaller base font size for mobile */
  color: #333;
  margin-bottom: 20px;
}

.contact-info {
  flex-direction: column; /* Stack elements on mobile */
  align-items: center;
  gap: 20px;
}

.mailbox,
.contact-form {
  width: 100%; /* Full width on mobile */
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin-bottom: 20px; /* Add spacing between .mailbox and .contact-form on mobile */
}

h2 {
  font-size: 20px; /* Smaller base font size for mobile */
  color: #333;
  margin-bottom: 10px;
}

p {
  font-size: 16px; /* Smaller base font size for mobile */
  color: #666;
}

.form-section {
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.full-section {
  justify-content: center;
  align-items: center; 
  text-align: center;
  padding: 2%;
}

/* Tablet and above */
@media (min-width: 768px) {
  h1 {
      font-size: 36px;
  }

  .contact-info {
      flex-direction: row;
      justify-content: space-evenly;
      align-items: flex-start;
  }

  .mailbox,
  .contact-form {
      width: 45%;
      margin-bottom: 0; /* Reset spacing */
      display: contents;
    }

  h2 {
      font-size: 24px;
  }

  p {
      font-size: 18px;
  }
}
