  /* Styling for developer info section */
  
  .developer-info {
    color: whitesmoke;
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .developer-info h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .developer-info p {
    font-size: 16px;
  }