/* Style the form inputs and submit button */

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  display: block;
  font-size: 16px; /* Adjusted for better readability on mobile */
  margin-bottom: 5px;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 8px; /* Slightly less padding for mobile */
  font-size: 14px; /* Smaller font size for mobile */
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  height: 120px; /* Smaller textarea height for mobile */
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 8px 16px; /* Adjusted padding for mobile */
  font-size: 16px; /* Smaller font size for mobile */
  cursor: pointer;
  border-radius: 5px;
  width: 100%; /* Full-width button on mobile */
}

button[type="submit"]:hover {
  background-color: #555;
}

/* Larger devices (tablets and desktops) */
@media (min-width: 768px) {
  label {
      font-size: 18px;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
      padding: 10px;
      font-size: 16px;
  }

  textarea {
      height: 150px;
  }

  button[type="submit"] {
      font-size: 18px;
      padding: 10px 20px;
      width: auto; /* Auto width for larger screens */
  }
}
